.chatView {
  background-color: orangered;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.msg {
  z-index: 5;
  font-size: large;
  color: red;
  background-color: wheat;

  position: absolute;
  margin: 0;
  top: 220px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 420px;
  height: 120px;
}

.endCallButton {
  position: absolute;
  margin: 0;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: none;
  background-image: url("../images/endCall.svg");
  background-size: cover;
}
.endCallButton:active {
  bottom: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: grayscale(70%);
}

.rotateCameraButton {
  z-index: 2;
  /* bottom: 260; */
  left: 53px;
  position: absolute;
  margin: 0;
  bottom: 5%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70px;
  height: 70px;
  border: none;
  background: none;
  background-image: url("../images/flipCamera.png");
  background-size: cover;
}
.rotateCameraButton:active {
  bottom: 7%;
  width: 60px;
  height: 60px;
  filter: invert(70%);
}

.callVideoButton {
  /* background-color: none; */
  position: absolute;
  /* z-index: 1; */
  background: none;
  background-image: url("../images/VideoCall.svg");
  background-repeat: no-repeat;
  background-size: contain;
  /* height: 30%; */
  width: 120px;
  height: 120px;
  border: none;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%);
  /* background-size: 40%; */
}

.callVideoButton:active {
  width: 100px;
  height: 100px;
  bottom: 2%;
}
